/* Creates the circle for article dates. */
.articleDate {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;

  -moz-border-radius: 50%;
  border-radius: 50%;

  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

.localGreen {
  border: 4px solid #00B5AD;
}
.alumYellow {
  border: 4px solid #FFD400;
}
.designRed {
  border: 4px solid #EF413D;
}

.articleDateContainer {
  float: left;
  height: 100%;
  margin-right: 30px;
  display: block;
}

.readMore {
  font-weight: 700;
}

.previewImage {
  width: 100%;
}

.article {
  padding-top: 20px;
  height: auto;
  display: block;
}

.article p {
    letter-spacing: 0.01em;
}

a {
  /*color: #241F59;*/
}

.articleBody {
  display: block;
  height: 100%;
  overflow: hidden;
}

.pressItem {
  padding-bottom: 10px;
}
.pressItem a {
  font-weight: 500;
  font-size: 1.1em;
  text-decoration: underline;
}

/* Desktop specific styling: press, circles, etc. */
@media (min-width: 1200px) {
  .leftCol {
    width: 65%;
    margin-right: 100px;
    float: left;
  }
  .pressCol {
    padding-top: 20px;
    width: 24%;
    float: left;
  }
}
@media (max-width: 1199px) {
  .pressCol, .articleDateContainer {
    display: none;
  }
}
