.articleDate {
  display: block;
  height: 72px;
  width: 72px;
  line-height: 72px;

  -moz-border-radius: 50%;
  border-radius: 50%;

  text-align: center;
  font-weight: 500;
  font-size: 1.9em;
}
h2 {
  padding-bottom: 10px;
}
.postDate {
  margin-bottom: 5px;
}
.yellowBull {
  color: #FFD400;
}
.greenBull {
  color: #00B5AD;
}
.previewImage {
  padding-bottom: 12px;
}

/* desktop-specific styling */
@media (min-width: 1200px) {
  .leftCol {
    width: auto;
    float: left;
  }
  .article {
    margin-right: 15%;
    padding-top: 40px;
  }
  .previewImage {
    margin: 0 1px;
  }
  .greenBull, .yellowBull {
    color: #241F59;
  }
}
