#header {
	background: linear-gradient(transparent, transparent),
                 url(../images/banners/sponsors.jpg) no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/banners/sponsors.jpg) no-repeat;
}

.sponsorDiv {
	padding-top: 20px;
	border-bottom: 1px solid #00B5AD;
	max-width: 550px;
}
.lastsponsorDiv {
	padding-top: 20px;
}

.sponsorRow {
	text-align: justify;
}

.leftCol {
	float: left;
	width: 550px;
	margin-right: 100px;
}

.rightCol {
	min-width: 320px;
}

.sponsorLogo {
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

.lineLogo {
	width: 100%;
	max-width: 160px;
}

.squareLogo {
	width: 60%;
	max-width: 100px;
	margin-left: 30px;
	margin-right: 30px;
}
